version: "3.9"

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/password
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data

  pycodecompass:
    build: .
    container_name: pycodecompass-service
    depends_on:
      - neo4j
    environment:
      - PCC_CONFIG_PATH=/app/config.yaml
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
    ports:
      - "8000:8000"
    volumes:
      - ./config.yaml:/app/config.yaml

volumes:
  neo4j_data:
